---
import BaseLayout from '@layouts/BaseLayout.astro';

import foresta from '@assets/images/foresta-1280.jpg';
import margherita from '@assets/images/margherita.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout pageTitle="Home Page">
  <div class="foresta">
    <Image src={foresta} alt="foresta" />
  </div>

  <h1>The short story of Margherita</h1>
  <div class="text-and-image">
    <p>
      Margherita lives in a small village surrounded by a lush forest. She's a
      strong believer in renewable energy and has installed a 10kw photovoltaic
      plant on her roof. The plant is made up of 40 solar panels and is
      connected to a 10kwh battery. The battery is used to store the energy
      produced by the plant during the day, so that Margherita can use it at
      night or when the sun isn't shining. This way, Margherita is able to
      reduce her carbon footprint and do her part in protecting the planet.
    </p>
    <Image src={margherita} alt="margherita" />
  </div>
</BaseLayout>

<style>
  .foresta {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 0 40px hsla(0, 0%, 100%, 0.8);
      animation: fade-in-sx 1s ease-in-out;
    }
  }
  @keyframes fade-in-sx {
    from {
      opacity: 0;
      transform: rotate(-15deg);
    }
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes fade-in-dx {
    from {
      opacity: 0;
      transform: rotate(15deg);
    }
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  h1 {
    text-align: center;
  }
  .text-and-image {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    p {
      max-width: 70ch;
    }
    img {
      width: 300px;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
      animation: fade-in-dx 1s ease-in-out;
    }
  }
</style>
