---
import BaseLayout from '@layouts/BaseLayout.astro';

import foresta from '@assets/images/foresta.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout pageTitle="Home Page">
  <div class="foresta">
    <Image src={foresta} alt="foresta" />
  </div>

  <h1>The short story of Margherita</h1>
  <p>
    Margherita has 10kw of photovoltaic panels. She is very green and she
    respect the planet. She also has 10kwh of battery to use the energy when the
    sun goes sleeping. Very nice Margherita. Keep doing your part and be strong
    because our planet needs people like you.
  </p>
</BaseLayout>

<style>
  .foresta {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      box-shadow:
        1px 1px 20px hsla(0, 0%, 100%, 0.8),
        -1px -1px 20px hsla(0, 0%, 100%, 0.8);
    }
  }
  h1 {
    text-align: center;
  }
  p {
    max-width: 70ch;
    margin: 0 auto;
  }
</style>
