---
import BaseLayout from '@layouts/BaseLayout.astro';

import foresta from '@assets/images/foresta.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout pageTitle="Home Page">
  <main>
    <div class="container">
      <div class="foresta">
        <Image src={foresta} alt="foresta" />
      </div>

      <h1>The short story of Margherita</h1>
      <p>
        Margherita has 10kw of photovoltaic panels. She is very green and she
        respect the planet. She also has 10kwh of battery to use the energy when
        the sun goes sleeping. Very nice Margherita. Keep doing your part and be
        strong because our planet needs people like you.
      </p>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    flex: 1;
    background-color: var(--secondary);
  }
  .container {
    padding: 50px 0px 100px;

    color: white;
    max-width: 1280px;
    .foresta {
      width: 100%;
      height: 400px;
      margin-bottom: 50px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    h1 {
      text-align: center;
    }
    p {
      max-width: 70ch;
      margin: 0 auto;
    }

    @media screen and (min-width: 40rem) {
      width: 100%;
      margin: 0 auto;
      max-width: 1280px;
    }
  }
</style>
