@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
  --background: hsl(51 32% 100%);
  --foreground: hsl(0 0% 15%);
  --danger: hsl(0 94% 27%);
  --primary: hsl(131, 88%, 26%);
  --secondary: hsl(131, 62%, 55%);

  @media (prefers-color-scheme: dark) {
    --background: hsl(0 0% 15%);
    --foreground: hsl(51 32% 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 112.5%; /* 18px */
  @media screen and (min-width: 80rem) {
    font-size: 125%; /* 20px */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, sans-serif;
  min-height: 100svh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
  display: flex;
  flex-direction: column;
}
h1 {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 80rem) {
    font-size: 1.125rem;
  }
}

p {
  margin-bottom: 1rem;
}

menu {
  list-style: none;
}

main {
  flex: 1;
  background-color: var(--secondary);
  color: white;
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px 100px;
  }
}
